@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes carouselMove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-carousel {
    animation: carouselMove 20s linear infinite;
  }
  